<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Travel Journey">
        <meta name="keywords" content="Travel Journal">
        <meta name="author" content="Travel Journal">

        <title>Travel Journal</title>
        <% include ../partials/headings %>
    </head>

    <body>


        <!-- ===============    Start template markup     =============== -->
        
        <!-- preloader -->
        
        <div id="boss-preloader">
            <div class="boss-pre-vcenter text-center">
                <div id="boss-status">
                    <img src="/assets/images/logo-one.png" alt="Travel logo" class="img-responsive center-block">
                </div>
                <h4>Loading</h4>
                <div class="spinner">
                  <div class="bounce1"></div>
                  <div class="bounce2"></div>
                  <div class="bounce3"></div>
                </div>
            </div>
        </div>

        <!--/ preloader -->


<!--    home area section-->
        <section class="boss-home-area" id="boss-home" >
            <div class="boss-overlay"></div><!-- overlay image -->
            <!-- YOUTUBE PLAYER -->
                 <div id="bgndVideo" class="player" data-property="{videoURL:'https://youtu.be/wJF5NXygL4k',containment:'.boss-home-area',autoPlay:true, mute:false, startAt:0, opacity:1}">My video</div>
            <!-- /YOUTUBE PLAYER -->
            <!-- container -->
            <div class="container">
                <!-- boss-wrapper vertically center -->
                <div class="boss-wrapper">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="boss-logo wow fadeIn" data-wow-delay="1.5s">
                                <img src="/assets/images/logo.png" alt="traivan98 logo" class="img-responsive center-block" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-8 text-center">
                            <div class="boss-header wow fadeInDown" data-wow-delay="2s">
                                <h1>TRAVEL JOURNAL</h1>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!--/ boss-wrapper vertically center -->
                <div class="boss-scroll-down hidden-xs wow fadeInDown"  data-wow-delay="4s" data-wow-offset="-100">
                    <a href="#service">
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </a>
                </div>
            </div>
            <!-- /.container -->
        </section>
<!--    / END home area section-->

        

        
        <!-- START service area -->
        <section class="boss-service-area" id="service">
            <!-- container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="boss-section-heading wow zoomIn" data-wow-delay="0.5">
                            <h2>A journey is best measured in friends, rather than miles</h2>
                            <div class="boss-header-border"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <div class="boss-single-service wow fadeInUp" data-wow-delay="1s">
                            <div class="boss-icon">
                                <span class="icon-strategy"></span>
                            </div>
                            <h3>Friends &amp; Family</h3>
                            <p>Share your experiences with your select friends, family or circle you want to view or contribute with our easy to use privacy settings.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <div class="boss-single-service wow fadeInUp" data-wow-delay="1s">
                            <div class="boss-icon">
                                <span class="icon-tools-2"></span>
                            </div>
                            <h3>Share Experiences</h3>
                            <p>Easily upload your photos once and share them as you wish with your friends, family or on your travel journal, Facebook, Twitter & more.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <div class="boss-single-service wow fadeInUp" data-wow-delay="1.3s">
                            <div class="boss-icon">
                                <span class="icon-camera2"></span>
                            </div>
                            <h3>Places &amp; More</h3>
                            <p>Discover the best places all over the world from other travel journals, experiences and travel tips, recommendations and more.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <div class="boss-single-service wow fadeInUp"  data-wow-delay="1.3s">
                            <div class="boss-icon">
                                <span class="icon-tools"></span>
                            </div>
                            <h3>Blog &amp; Tweet</h3>
                            <p>Broadcast your adventures, trips and experiences from around the world on your personal travel journal or read about others journeys.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ container -->
        </section>
        <!--/ END service area -->

        <!-- START cta area -->

        <section class="boss-cta-area" id="boss-cta">
            <div class="boss-dark-overlay"></div>
            <!-- container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="boss-header wow fadeInLeft">
                            <h1>WE LOVE TRAVELLING</h1>
                            <h4>BE A PART OF THIS AWESOME EXPERIENCE</h4>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 text-center">
                        <div class="boss-button wow fadeInRight">
                            <a href="/login" class="boss-about-button btn btn-default">LOGIN</a>
                            <p class="text-center">OR</p>
                            <a href="/signup" class="boss-subscribe-button btn btn-default">REGISTER</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ container -->
        </section>

        <!--/ END cta area -->
        
        <!-- START work area -->

        <section class="boss-work-area" id="works">
            <!-- boss owl -->
            <div class="boss-owl wow fadeIn">
                <div class="boss-item">
                    <img src="/assets/images/trip6.jpg" alt="boss slider">
                    <div class="boss-caption text-center">
                        <h3> “Do not follow where the path may lead. Go instead where there is no path and leave a trail” </h3>
                    </div>
                </div>
                <div class="boss-item">
                    <img src="/assets/images/trip5.jpg" alt="boss slider">
                    <div class="boss-caption text-center">
                        <h3> “ The further I go, the closer to me I get.”</h3>
                    </div>
                </div>
                <div class="boss-item">
                    <img src="/assets/images/trip4.jpg" alt="boss slider">
                    <div class="boss-caption text-center">
                        <h3> “No one realizes how beautiful it is to travel until he comes home and rests his head on his old, familiar pillow.” </h3>
                    </div>
                </div>
                <div class="boss-item">
                    <img src="/assets/images/trip1.png" alt="boss slider">
                    <div class="boss-caption text-center">
                        <h3> “ Travel brings power and love back into your life.” </h3>
                    </div>
                </div>
                <div class="boss-item">
                    <img src="/assets/images/trip2.jpg" alt="boss slider">
                    <div class="boss-caption text-center">
                        <h3> “Man cannot discover new oceans unless he has the courage to lose sight of the shore.” </h3>
                    </div>
                </div>
                <div class="boss-item">
                    <img src="/assets/images/trip3.jpg" alt="boss slider">
                    <div class="boss-caption text-center">
                        <h3> “Wandering re-establishes the original harmony which once existed between man and the universe.” </h3>
                    </div>
                </div>
            </div>
            <!--/ boss owl -->
        </section>

        <!--/ END work area -->
		
        <!-- START footer area -->

        <% include ../partials/footer %>

        <!--/ END footer area -->



        <!-- ===============    End markup     =============== -->


        



    <% include ../partials/scripts %>
    <% include ../partials/scripting %>

    <script type="text/javascript">
    // wow js active here
        new WOW().init({
            offset:       200   // distance to the element when triggering the animation (default is 0)
        });
    </script>
    
    </body>
</html>

